/****************************************
            ROOT
****************************************/

:root {
    --bs-danger: #dc3545;
    
    --bs-body-color: #212529;
    --bs-body-bg: #fff;

    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;

    --bs-border-radius: .375rem;
}

