
### CUSTOM ###
!/public/wp-config-sample.php
/public/wp-content/plugins/*
/public/wp-content/themes/*/style.css
/public/wp-content/themes/*/style.css.map
/public/wp-content/themes/*/blocks/*/build/*
!/public/wp-content/themes/*/blocks/*/build/.gitkeep


### Composer ###
composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


### npm ###
/node_modules/


### WordPress ###
# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/public/wp-admin/
/public/wp-content/index.php
/public/wp-content/languages
/public/wp-content/themes/index.php
/public/wp-includes/
/public/index.php
/public/license.txt
/public/readme.html
/public/wp-*.php
/public/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/public/wp-content/themes/twenty*/

# Example plugin
/public/wp-content/plugins/hello.php

# Uploads
/public/wp-content/uploads/

# Log files
*.log

# htaccess
# /public/.htaccess

# All plugins
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/public/wp-content/plugins

# All themes
# Note: If you wish to whitelist themes,
# uncomment the next line
#/public/wp-content/themes


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### macOS Patch ###
# iCloud generated files
*.icloud


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix


### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
