/****************************************
            TRANSITIONS
****************************************/

.collapse {
    &:not(.show) {
        display: none;
    }
}

.collapsing {
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;

    @media (prefers-reduced-motion: reduce) {
        & {
            transition: none;
        }
    }
}
